<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Ir a lista de celebridades</a>
<a href="/celebrities/new">Crear celebridad</a>

<a href="/movies">Lista de películas</a>
<a href="/movies/new">Crear película</a>
